* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}


body {
  background-color: #0A192F;
  margin: 0;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
  color: #8892b0;
}

header {
  /* display: flex;
  justify-content: space-between; */
  padding: 2rem 5rem;
  background: #0A192F;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 /30%);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  z-index: 10;
}

#logo {
  width:50px;
  /* padding: 0; */
  
}

.brand {
  font-weight: 600;
  text-transform: uppercase;
}

.brand span {
  font-weight: normal;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

a:link {
  color: #8892b0;
}

/* visited link */
a:visited {
  color: #8892b0;
}

/* mouse over link */
a:hover {
  color: #64ffda;
}

/* selected link */
a:active {
  color: #64ffda;
}

/* main {
  margin-inline: 2rem;
  margin-block: 1rem;
  position: absolute;
  /* top: 300px; 
} */

h1 {
  font-size: 10em;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: 'Merriweather', serif;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: #64ffda
  }
}

.green {
  color: #64ffda;
}

a {
  text-decoration: none;
}

/* Scroller */

article {
  width: 75%;
  margin: 2rem auto;
}

article>h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Scroller */

header.scroll-up {
  transform: translateY(0);
}

header.scroll-down {
  transform: translateY(-100%);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  /* padding: 10px 20px;
  text-decoration: none; */
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #64ffda;;
  display: block;
  height: 2px;
  position: relative;
  /* transition: background .2s ease-out; */
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #64ffda;;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 90em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}